---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
  <p>I am an Engineering student from Singapore.</p>
  <p>I enjoy playing around with cool new technology</p>
  <p>
    Check me out on <a href="https://mastodon.world/@htgar">Mastodon</a> or <a
      href="https://github.com/htgar">Github</a
    >
  </p>
</BaseLayout>
